= form_for @<%= singular_table_name %>, html: { class: 'col-12' } do |f|
  = render 'layouts/form-errors', instance: @<%= singular_table_name %>
<% for attribute in attributes -%>
  .field.col-lg-6.col-md-12
    = f.label :<%= attribute.name %>
    = f.<%= attribute.field_type %> :<%= attribute.name %>
<% end -%>
  .actions
    %button.primary{ type: :submit }=t :save
    = link_to t(:back), _back_url, class: 'btn'
