$main-font: "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
$icon-font: "https://fonts.googleapis.com/icon?family=Material+Icons";

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800
) !default;

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$theme-colors: (
  primary: ($primary, $light),
  secondary: ($secondary, $black),
  success: ($success, $light),
  info: ($info, $light),
  warning: ($warning, $dark),
  danger: ($danger, $light),
  light: ($light, $dark),
  dark: ($dark, $light),
  "indigo": ($indigo, $light),
  "purple": ($purple, $light),
  "pink": ($pink, $light),
  "orange": ($orange, $light),
  "teal": ($teal, $light),
  gray-dark: ($gray-800, $light)
) !default;

// Debug
$debug: false !default;

// Layout
$content-width: 1600px;
$column-width: 250px;

// Theme
$highlight-color: #f8b700;
$foreground-color: #cccccc;
$foreground-color-highlight: #fff9c4;
$background-color: #333;
$background-color-light: lighten($background-color, 10);
$background-color-dark: darken($background-color, 10);
$border-color: lighten($background-color, 10);
$link-color: $highlight-color;
$default-border-color: $gray-200 !default;
$footer-background: #000;

// Forms
$fieldset-border-color: lighten($background-color, 15);
$input-background: lighten($background-color, 20);
$input-border-color: transparent;
$input-background-focus: lighten($background-color, 20);
$input-border-focus: $highlight-color;
$form-background-color: $background-color-light;
$input-background-color: lighten($background-color-light, 10);
$input-background-color-error: transparentize($danger, 0.5);

// Progress Bar
$progress-foreground-light: transparentize($success, 0.1);
$progress-foreground-dark: transparentize($success, 0.5);
$progress-background: lighten($background-color, 5%);
$progress-foreground: linear-gradient(0, $progress-foreground-light, $progress-foreground-dark 15%, $progress-foreground-light);
$progress-border: lighten($background-color, 20%);