/* Responsive breakpoints */
$column-width: 400px !default;
$responsive-sm-breakpoint: 599px !default;
$responsive-lg-breakpoint: 1200px !default;
$content-width: 1200px;

$theme-mode: 'light' !default;

@function mode-brightness($color, $factor) {
  @if $theme-mode == 'dark' {
    @return lighten($color, $factor);
  } @else {
    @return darken($color, $factor);
  }
}

/* Colors */
$light: #eee !default;
$dark: #343a40 !default;
$primary: #007bff !default;
$secondary: #999999 !default;
$success: #28a745 !default;
$info: #17a2b8 !default;
$warning: #ffc107 !default;
$danger: #dc3545 !default;
$special: rebeccapurple !default;
$alert: $danger;
$notice: $info;

@function mode-color($light: $light, $dark: $dark) {
  @if $theme-mode == 'dark' {
    @return $dark;
  } @else {
    @return $light;
  }
}

$theme-colors: (
  primary: ($primary, $light),
  secondary: ($secondary, $light),
  success: ($success, $light),
  info: ($info, $dark),
  notice: ($notice, $dark),
  warning: ($warning, $dark),
  danger: ($danger, $light),
  alert: ($alert, $light),
  special: ($special, $light)
) !default;

/* Design */
$background: #d4d4d4 !default;
$foreground: mode-color($dark, $light) !default;
$highlight: #dcac0b !default;

/* Layout & Design */
$custom-layout: false !default;
$default-padding: .5rem !default;
$default-border-color: mode-brightness($background, 10%) !default;
$default-border: solid 1px $default-border-color !default;
$default-outline-color: $highlight !default;
$default-outline: solid 1px $default-outline-color !default;

$text-font-url: 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
$text-font: 'Roboto';
$icon-font-url: 'https://fonts.googleapis.com/icon?family=Material+Icons&display=swap';
$icon-font: 'Material Icons';

$header-enable: true !default;
$header-background: darken($background, 5%) !default;
$header-foreground: $foreground !default;
$header-border-bottom: $default-border !default;
$header-padding: $default-padding !default;

$logo-height: 100px;

$main-menu-enable: true !default;
$main-menu-background: $header-background !default;
$main-menu-hover-background: $main-menu-background !default;
$main-menu-padding: $default-padding !default;

$breadcrumbs-enable: true !default;
$breadcrumbs-background: $header-background !default;
$breadcrumbs-foreground: $header-foreground !default;
$breadcrumbs-border-bottom: $header-border-bottom !default;
$breadcrumbs-padding: $default-padding !default;

$left-column-enable: true !default;
$left-column-background: $background !default;
$left-column-foreground: $foreground !default;
$left-column-border-right: $default-border !default;
$left-column-padding: $default-padding !default;

$right-column-enable: true !default;
$right-column-background: $background !default;
$right-column-foreground: $foreground !default;
$right-column-border-left: $default-border !default;
$right-column-padding: $default-padding !default;

$footer-enable: true !default;
$footer-background: darken($background, 5%) !default;
$footer-foreground: $foreground !default;
$footer-border-top: $default-border !default;
$footer-padding: $default-padding !default;

/* Typography */
$link-color: $highlight !default;
$link-color-hover: lighten($link-color, 10) !default;
$link-color-visited: darken($link-color, 10) !default;
$link-color-active: lighten($link-color, 10) !default;
@import url(#{$text-font-url});
@import url(#{$icon-font-url});

/* Components */
/* Card */
$card-background: $light !default;
$card-foreground: #444 !default;
$card-header-background-color: #ececec !default;
$card-header-foreground-color: #444 !default;
$card-border-color: darken($card-header-background-color, 10%) !default;

/* Form Controls */
$fieldset-border-color: $highlight !default;
$input-background: mode-color() !default;
$input-foreground: mode-color($dark, $light) !default;
$input-border-bottom-width: 2px !default;
$input-border-color: transparent !default;
$input-background-focus: lighten($background, 20) !default;
$input-border-color-focus: $highlight !default;
$input-background-color-error: transparentize($danger, 0.5) !default;
$input-border-color-error: $danger !default;
$input-text-error: $danger !default;
$form-background-color: lighten($background, 10) !default;

/* Table */
$table-stripped-odd-row-background: #6c757d !default;
$table-selectable-hover-background-color: #17a2b8 !default;
$table-bordered-border-color: #000000 !default;
$table-bordered-rows-border-color: #000000 !default;
$table-bordered-columns-border-color: #730E15 !default;

$toggle-box-border-color: $input-border-color;
$toggle-box-background-color: $background;
$toggle-box-border-color-yes: lighten($success, 30);
$toggle-box-border-color-no: lighten($dark, 50);
$toggle-box-button-color-yes: $success;
$toggle-box-button-background-color-yes: lighten($success, 40);
$toggle-box-button-color-no: $danger;
$toggle-box-button-background-color-no: lighten($danger, 40);
