$measurements: (w width, h height, min-w min-width, min-h min-height, max-w max-width, max-h max-height);

@each $class, $property in $measurements {
  @include sizes($class, $property, "", 1%);
}

@include for-desktops-up {
  @include side-variants(margin, m, "-lg", .25rem);
  @include side-variants(padding, p, "-lg", .25rem);
  @include side-variants(border, b, "-lg", 1px, "#{$default-border-color} solid");
  @include font-sizes("-lg");
  @each $class, $property in $measurements {
    @include sizes($class, $property, "-lg", 1%);
  }
  .hidden-lg { display: none !important; }
}

@include for-tablets-up {
  @include side-variants(margin, m, "-md", .25rem);
  @include side-variants(padding, p, "-md", .25rem);
  @include side-variants(border, b, "-md", 1px, "#{$default-border-color} solid");
  @include font-sizes("-md");
  @each $class, $property in $measurements {
    @include sizes($class, $property, "-md", 1%);
  }
  .hidden-md { display: none !important; }
}

@include for-phones-only {
  @include side-variants(margin, m, "-sm", .25rem);
  @include side-variants(padding, p, "-sm", .25rem);
  @include side-variants(border, b, "-sm", 1px, "#{$default-border-color} solid");
  @include font-sizes("-sm");
  @each $class, $property in $measurements {
    @include sizes($class, $property, "-sm", 1%);
  }
  .hidden-sm { display: none !important; }
}
