@import url($main-font);
@import url($icon-font);

a, a:visited, a:link, a:active {
  color: $default-link-color;
  text-decoration: none;

  &:hover {
    color: $default-link-hover-color;
    text-decoration: 1px underline solid $default-link-color;
  }
}

.ta-l {
  text-align: left !important;
}

.ta-c {
  text-align: center !important;
}

.ta-r {
  text-align: right !important;
}

.f-l {
  float: left !important;
}

.f-r {
  float: right !important;
}

.bold {
  font-weight: bold !important;
}

.italic {
  font-style: italic !important;
}

.default-text-shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

h1, h2, h3, h4, h5, h6, h7 {
  padding: .5rem;
  margin: 0;
  color: $highlight-color;
  @include color-variants($color-map);
}

toggle-button[icon] {
  &:before {
    content: attr(icon);
    font-family: "Material Icons";
  }
}

@each $name, $color in $wow-classes {
  .text-#{$name} {
    color: #{$color};
  }
}

ul {
  &.responsive {
    width: min-content;
    display: inline-flex;
    flex-flow: column nowrap;

    li {
      display: block;
      white-space: nowrap;
    }
  }

  &.no-bullets {
    list-style: none;
  }

  &.links {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;

      a {
        display: inline-flex;
        flex-flow: row nowrap;
        align-content: center;

        text-decoration: none;
        color: $secondary;

        i {
          font-size: 1rem;
          margin: 0 .5rem 0 0;
        }
      }
    }
  }
}

p, div, span, i {
  @include color-variants($color-map);
  @include outline-variants($color-map);
  @include background-variants($color-map, 20, 0, 50)
}

.badge {
  font-size: .8rem;
  padding: .15rem .35rem;
  border-radius: $default-padding * 1.5;
  margin: 0 $default-padding;

  @include background-variants($color-map, -5, 0, -10)
}

@each $pos in (space-between, space-around, stretch, start, center, end) {
  .justify-#{$pos} {
    justify-items: $pos;
    justify-content: $pos;
  }

  .align-#{$pos} {
    align-items: $pos;
    align-content: $pos;
  }

  .align-self-#{$pos} {
    align-self: $pos;
  }
  .justify-self-#{$pos} {
    justify-self: $pos;
  }
}

dl {
  &.key-value {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 1rem;
  }

  &.inline {
    display: block;

    dt, dd {
      display: inline;
    }
  }

  dt {
    font-weight: bold;
    color: $light;
    text-align: right;
  }
}

figure {
  figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
}