.scrollbar {
  scrollbar-color: $highlight-color $header-background-color;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background-color: $header-background-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $highlight-color;
  }

  &::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
  }
}