.control {
  display: inline-grid;
  grid-template-columns: min-content 1fr min-content 1fr min-content;
  grid-template-rows: 1.5em 2em auto;
  grid-template-areas: "label label label label label" "icon input input input buttons" "hint hint . error error";

  label { grid-area: label }
  input, select { grid-area: input; }
  small { grid-area: hint; white-space: nowrap}
  i { grid-area: error; white-space: nowrap; color: $danger; text-align: right; font-size: .8em }

  &:focus-within {
    label {
      font-weight: bold;
    }
  }

  span.icon {
    display: inline-block;
    grid-area: icon;
    font-family: "Material Icons", serif;
    background-color: darken($input-background-color, 5);
    border: 1px solid $input-border-color;
    border-right: none;
    padding: .25em;
    line-height: 1.5em;
    vertical-align: top;
    border-top-left-radius: $input-border-radius;
    border-bottom-left-radius: $input-border-radius;

    & + input {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .button-group {
    grid-area: buttons;
  }

  input + .button-group{
    margin-left: -5px;
    button:first-child, a.button:first-child, input[type="button"]:first-child, input[type="reset"]:first-child, input[type="submit"]:first-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.text-control {
  display: inline-grid;
  grid-template-columns: 1fr 1em 1fr;
  grid-template-rows: 1.5em 1fr min-content;
  grid-template-areas: "label label label" "input input input" "hint . error";

  label { grid-area: label }
  textarea { grid-area: input; resize: vertical; min-height: 3em }
  small { grid-area: hint; white-space: nowrap}
  i { grid-area: error; white-space: nowrap; color: $danger; text-align: right; font-size: .8em }
}

.check-control {
  display: inline-grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1.5em 2fr;
  grid-template-areas: ". ." "input label";

  label { grid-area: label }
  input { grid-area: input; }

  &.inline {
    grid-template-rows: 2fr;
    grid-template-areas: "input label";
  }
}

input:-moz-ui-invalid {
  box-shadow: none !important;
  outline: none !important;
}

.control input, .control select, .text-control textarea, input.input, select.input, textarea.input {
  background-color: $input-background-color;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  padding: .5em;
  color: $input-color;

  &:focus-visible:not(:invalid) {
    outline: none !important;
  }

  &:focus {
    background-color: $input-focus-background-color;
    border-color: $input-focus-border-color;
    color: $input-focus-color;
    box-shadow: 0 0 0 2px transparentize($input-focus-border-color, 0.4);
    outline: none !important;
  }

  &:read-only {
    background-color: $input-readonly-background-color;
    border-color: $input-readonly-border-color;
    color: $input-readonly-color;
    &:focus {
      border-color: $input-readonly-border-color;
      box-shadow: 0 0 0 2px transparentize($input-readonly-border-color, 0.4);
    }
  }

  &:disabled {
    background-color: $input-disabled-background-color;
    border-color: $input-disabled-border-color;
    color: $input-disabled-color;
  }

  &:invalid, &.error {
    background-color: $input-invalid-background-color;
    border-color: $input-invalid-border-color;
    color: $input-invalid-color;
    &:focus {
      border-color: $input-invalid-border-color;
      box-shadow: 0 0 0 2px transparentize($input-invalid-border-color, 0.4);
    }
  }

  &::selection {
    background: $input-focus-border-color;
    color: $input-selection-color;
  }
}

.control select, select.input {
  appearance: none;
  background: url('data:image/svg+xml;plain,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z" fill="rgba(0,0,0,.8)"/></svg>') right center no-repeat;
}

fieldset {
  border: solid 1px $fieldset-border-color;
  border-radius: .25rem;
  margin: 0;
  padding: .5rem;
  legend {
    padding: 0 .5rem;
  }
}