progress {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: $progress-background;
  width: 100%;
  height: 1.5em;
  border-radius: .35em;
  box-shadow: inset #aaa 0 0 8px;
  padding: 3px;
}

progress::-webkit-progress-bar {
  background: $progress-background;
  border-radius: .15em;
}

progress::-webkit-progress-value {
  background: $progress-foreground;
  border-radius: .15em;
}

progress::-moz-progress-bar {
  background: $progress-foreground;
  border-radius: .15em;
}